@import "./variables.scss";
.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  @media(max-width: 930px) {
      background-position: -1px -1px;
  }
  @media(min-width: 1420px) {
      background-position: 0px -366px;
  }
  background-blend-mode: screen;
  background: #2d2d2d;
  background-image: url('./skyline.jpg');
  background-size: cover;
  background-position: 0px -65px;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 10px;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 300px;
      margin: auto;
    }
  }
  h1 {
    color: white;
    font-size: 4em;
    text-shadow: 1px 4px 13px black;
  }
  h2 {
    color: white;
    font-size: 2em;
    margin: 20px;
    text-shadow: 1px 4px 13px black;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.home-button-container {

  text-align: center;
  margin: 20px;
}

.home-button {
    margin-left: 1em;
    margin-right: 1em;
    background-color: $move-sort-base;
    color: white;
    border-radius: 1em;
}
.btn-primary {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $move-sort-base;
  color: #FFFFFF;
  border: none;
  transition: background-color 300ms ease;
  &:hover {
    background-color: #00746d;
  }
  &:focus { outline: none; }
  &:disabled {
    opacity: .3;
    &:hover { background-color: black; }
  }
}

.home-page-contents {
  margin: 2em;
  color: white;
}

.home-page-contents-container {
    border-radius: 1em;
    border: 2px solid white;
    width: 100%;
    p {
        margin: 2em
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.admin-edit-text {
    border-radius: 1em;
    width: 100%;
    resize: none;
}

.faq-button {
	width: 100%;
	background: white;
	border: none;
	border-radius: 4px;
	height: 2.5em;
    transition: background-color 300ms ease;
    &:hover {
      background-color: #00746d;
    }
}

.form-buttons {
    float: left;
    width: 13%;
    padding-right: 2em;
}

.faq-button:focus {
  background-color: #00746d;;
}

.faq-button.selected {
  background-color: #00746d;;
}

.faq-button:blur {
  background-color: white;
}
.container {
    height: 100%;
    margin: 2em;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tv-button {
    width: 57%;
    margin: 0 0 2em 0;
	background: white;
	border: none;
	border-radius: 15px;
	height: 2.5em;
    transition: background-color 300ms ease;
    &:hover {
      background-color: #00746d;
    }
    &:focus {
      background-color: #00746d;
    }
    &:blur {
      background-color: white;
    }
}



.home {
  dd {
    margin-bottom: 15px;
  }
}

.container {
    height: 100%;
    margin: 2em;
}
